<footer>
	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<p class="copyright-text">Copyright &copy; 2019 AtrIntelliCo. All right reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>