---
title: Welcome to ArtIntelliCo
---

		
<!-- hero area -->
<section class="section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-7 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-40">We design and develop solutions that solve users’ problems.</h1>
					<p class="mb-4">
						ArtIntelliCo provides full-cycle development from initial concept to a live application.
					</p>
				</div>
		    </div>
			<div class="col-md-5 text-center mb-5 mb-md-0">
				<%= image_tag 'artintellico.png' %>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
	    


<!-- Feature start-->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading">
					<h2>Our Services</h2>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mb-40 text-center text-md-left">
					<h4 class="font-weight-bold mb-2">Product Design</h4>
					<p>All our projects are design-led, starting with post-its and sketching, ending with design implemented as code in the app. We use design sprints and user research to build products that are user-centered.</p>
				</div>
				<div class="mb-40 text-center text-md-left">
					<h4 class="font-weight-bold mb-2">Web Development</h4>
					<p>Many development practices we follow were first described in "Extreme Programming Explained", published more than 15 years ago. Using XP practices improves the quality of our work and happiness of our team.</p>
				</div>
				<div class="mb-40 text-center text-md-left">
					<i class="d-inlin-block h2 mb-10 tf-ion-ios-cart-outline"></i>
					<h4 class="font-weight-bold mb-2">Mobile Development</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mb-40 text-center text-md-left">
					<h4 class="font-weight-bold mb-2">Artficial Intelligence Solutions</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
				</div>
				<div class="mb-40 text-center text-md-left">
					<h4 class="font-weight-bold mb-2">Degital Transformations</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
				</div>
				<div class="mb-40 text-center text-md-left">
					<h4 class="font-weight-bold mb-2">Cloud Services</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, inventore?</p>
				</div>
			</div>
		</div>
	</div><!-- .container close -->
	</section><!-- #service close -->

<section class="bg-black section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center mb-5 mb-lg-0">
				<img class="img-fluid" src="images/robot.jpg" alt="">
			</div>
			<div class="col-md-8 align-self-center text-center text-md-left">
				<div class="content">
					<h2 class="subheading text-white font-weight-bold mb-10">
						Building a competitive advantage with AI
					</h2>
					<p class="text-white">
						AI is fundamentally changing the present and future of businesses - is your organization ready for the next industrial revolution?
					</p>
					<p class="text-white">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi odit, illo, qui aliquam dol
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

