--- title: Разработка и поддрежка ИТ решений для бизнеса ---


<!-- hero area -->
<section class="section pb-0">
    <div class="container">
        <div class="row" id="root">
            <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-40">Мы создаем полезные ИТ решения для Вашего Бизнеса </h1>
                    <p class="mb-4">
                        Команда ArtIntelliCo помогает диджитилизировать Ваши бизнес-процессы путем разработки и внедрения современных ИТ решений.
                    </p>
                </div>
            </div>
            <div class="col-md-5  text-center mb-md-0">
                <%= image_tag 'artintellico.png' %>
            </div>
        </div>
    </div>
</section>


<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Чем мы можем быть полезны Вам?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Разработка концепции ИТ решении</h4>
                    <p>
                        Проводим анализ Вашей потребности в ИТ решениях, разрабатываем бизнес требования, подбираем готовые решение или составляем требования к решению, понятные бизнесу и разработчикам</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Дизайн продукта (UX/UI)</h4>
                    <p>
                        Проводим исследования потребителей и продукта, проектируем интерфейсы и выполняем их дизайн, проводим юзабилити-тестирование и экспертную оценку.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Web разработка</h4>
                    <p>
                        Разрабатываем программное обеспечение в виде веб-приложений любой сложности: корпоративные сайты, маркетплейсы, интернет магазины, системы бранирования заказов и многое другое</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Мобильное приложения</h4>
                    <p>
                        Разрабатываем мобильные приложения под iOS и Android, панели администрирования для них
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Решения с Искуственным Интеллектом</h4>
                    <p>Предлагаем решения на базе искусственного интеллекта и машинного обучения</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Разработка CRM и ERP</h4>
                    <p>
                        Разрабатываем специализированные CRM и ERP системы с учетом особенностей Ваших бизнес-процессов
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Облачные решения</h4>
                    <p>
                        Помогаем перенести всю Вашу инфраструктуру или ее часть в Облако Amazon Web Services.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">API и интеграция</h4>
                    <p>Разрабатываем API для Ваших ИТ-систем, проводим интеграцию с другими системами.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Техническая поддержка</h4>
                    <p>Мы обеспечиваем техническую поддержку Ваших ИТ системе, а так же их улучшение.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-black section" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="images/robot.jpg" alt="">
            </div>
            <div class="col-md-8 align-self-center text-center text-md-left">
                <div class="content">
                    <h2 class="text-white font-weight-bold mb-10">
                        Наш сайт находится на реконструкции
                    </h2>
                    <p class="text-white">
                        Если у Вас есть предложения о сотрудничестве или пожелания, вы можете связаться с нами по телефону
                        <a href="tel:+380960566642">+38 096 0566642 </a> или написать на <a href="mailto:io@artintelico.com">io@artintellico.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>